@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-light">Welcome</h1>
    <p class="text-light">Simple Voting System</p>
</div>
<link href="~/css/body.css" rel="stylesheet" />