@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="text-center">
    <h1 class="display-4 text-light">Thank you for Voting!</h1>
    <p class="text-light">Please Logout once you are done voting</p>
</div>
<link href="~/css/body.css" rel="stylesheet" />